header{
    height: 45vh;
    background-image: url('https://cdn.britannica.com/84/203584-131-357FBE7D/speed-internet-technology-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1px;
    
}

form{
    background-image: linear-gradient(to right ,white , rgb(209, 209, 233));
    height: 291px;
}

.navbar{
    display: inline-flex;
}
